<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isoguzay.androidnativeuserinteractions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".snackbarsample.SnackbarActivity"></activity>
        <activity
            android:name=".alertviewsample.AlertViewActivity"
            android:label="@string/title_activity_alert_view_sample"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".popupmenusample.PopupMenuActivity"
            android:label="@string/title_activity_popup_menu_sample"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mainactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".toastmessagesample.ToastMessageSample"
            android:label="@string/title_activity_toast_message_sample"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>